<a href="https://colab.research.google.com/github/SargoHub/pythonPractice/blob/main/statements_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONDITIONAL STATEMENTS EXAMPLE
1. IF.....ELSE
2. IF.....ELIF.....ELSE
3. NESTED IF

In [ ]:
a=10
b=6
if(a>b):
  print(a,'is big')
else:
  print(b, 'is big')

10 is big

In [ ]:
a=5
if(a<5):
  print('a is less than 5')
elif(a==6):
  print('a is 6')
elif(a>5):
  print('a is greater than 5')
else:
  print('a is', a)

a is 5

In [ ]:
#nested if example
x=7
if(x>0):
  if(x==5):
    print('x is 5')
  else:
    print('x is not 5 it is', x)
else:
  print('main loop')

x is not 5 it is 7

In [ ]:
#shorthand way of writing if...else
a=2
b=6
print('a is big') if a>b else print('b is big')

b is big

In [ ]:
#shorthand way of writing if...else
x='mercedes'
y='car'
z='dream'.join([x,y])
print(z)
print('x is bmx') if z=='mercedescardream' else print('x is', x)

mercedesdreamcar
x is mercedes

LOOPING STATEMENTS
1. FOR LOOP
2. WHILE LOOP

In [ ]:
a=[1,2,3,4,5]
for i in a :
  print(i)

1
2
3
4
5

In [ ]:
b=[5,6,7,8,9,10]
c=len(b)-1
while c>0:
  print(b[c])
  c-=1

10
9
8
7
6

In [6]:
star=5
for i in range(star):
  #print(i)
  for j in range(i+1):
    print('*', end=" ")
  print('\n')

*

* *

* * *

* * * *

* * * * *

FUNCTIONS -
1. INBUILT FUNCTIONS (LIKE math)
2. USER DEFINED FUNCTIONS

In [8]:
import math
a=10
b=math.pow(a,5)
print(b)
type(b)

100000.0

float

In [9]:
import math
a=4
print(math.sqrt(a))

2.0

In [10]:
#user define function
def fn_power():
  print('you are in the function')
  x=int(input('Enter the number to find power of: '))
  return x**2
fn_power()

you are in the function
Enter the number to find power of: 6

36

In [14]:
#LAMBDA FUNCTION
f1=lambda x: x+10
f1(5)

15

In [15]:
f2=lambda x,y: x**y
f2(2,3)

8